@import "tailwindcss";
@plugin "daisyui";

/* Fix Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(241, 241, 241) inset !important;
  -webkit-text-fill-color: #1f2937 !important; /* text-gray-800 */
  transition: background-color 5000s ease-in-out 0s;
}
